.titulo-form {
	margin-bottom: 40px;
}

main {
	padding: 0;
}

.linha-form{
	margin-bottom: 30px;
}

.form-equipe-apoio{
	margin-bottom: 30px;
}

.form-investigador{
	margin-bottom: 30px;
}

.botoes-form{
	margin-bottom: 60px;
}

.jumbotron{
  padding: 4rem 2rem 2rem;
  background-color: #00746b;
  color:black
}

.lead{
  color:black !important
}