.icone-index {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

main {
 /* padding-top: 50px; */
}

.card-link {
  margin: 1% 2% 2.7%;
}

.jumbotron{
  padding: 4rem 2rem 2rem;
  background-color: #00746b;
  color:black
}

.lead{
  color:black !important
}